#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
  
}
.trigger {
  font-size: 24px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.5s;
}
.trigger:hover {
  color: #1890ff;
}
.ant-layout-sider {
  background-color: #e2e2e2;
}
#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

.site-layout .site-layout-background {
  background: #fff;
}

.footer {
  background-color:ffffff;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}
.about{
  background-color:#e2e2e2;
  min-height: 300px;
  justify-content: center;
  text-align: center;
 
}
.ant-image-img {
  border-radius: 50%;
  height: 250px;
  padding-bottom: 10px;
}
.info{
  padding: 20px 30px;
}
.editable-row .ant-form-item-explain {
  position: absolute;
  top: 100%;
  font-size: 12px;
}
.ant-descriptions-item-label {
  width: 120px;
}
.ant-descriptions-bordered .ant-descriptions-view {
  border: 2px solid #f0f0f0;
  background: #fff;
}
/* .ant-empty-image {
  width: 200px;
  height: 200px;
} */